# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.packages
.pub/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# flutter root folder wrongly created
/ios
/android

# IDE
.idea/
*.iml
.vscode/

# Local files
.local/

# Dart
build/
pubspec_overrides.yaml
.dart_tool/
pubspec.lock
.flutter-*
/app_dev_menu/.metadata
/app_dev_menu/

.*
!.gitignore
!/.github

linux/
macos/
windows/
web/
ios/
android/